<td>
	<%=link_to edit_task_path(task.id) do%>
		<span class="fa fa-edit edit_icon"></span>
	<%end%>
</td>
<td>
	<%=link_to task_path(task.id), method: :delete do%>
		<span class="fa fa-trash delete_icon"></span>
	<%end%>
</td>